.add-container {
    width: 55%;
    margin: 130px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 35px 45px;
    border-radius: 15px;
    text-align: center;
}

.title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
}

.add-form .input-box {
    margin-bottom: 20px;
    text-align: left;
}

.add-form label {
    font-size: 16px;
    font-weight: bold;
}

.add-form input,
.add-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #b8b8b8;
    background: #fff;
}

.add-btn {
    width: 100%;
    background: #c79b70;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.add-btn:hover {
    background: #a17850;
}

.back-btn {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #333;
}

.error {
    color: red;
    margin-bottom: 15px;
}
