body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.backgroundImage img{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
}


header{
    top: 0;
    background-color: rgb(255, 255, 255, 0.95); /* 0.8 itu buat transparansi, ilangin aja kalo gamau */
    
}

.headerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: rgb(176, 103, 40);
}

.logo a{
    text-decoration: none;
    color: rgb(176, 103, 40);   
    font-weight: bold;
    font-size: 25px;
}

.dateHeader {                               
    padding: 0px 20px;
    color: rgb(176, 103, 40);    
    font-size: 20px;
}


.headerButton a{
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: rgb(151, 77, 40);
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 20px;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: fit-content;

    padding: 20px 0;
}


.heroContainer {
    padding: 0px 20px;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.9);
    width: 700px;
}

.heroContainer h2{
    color: rgb(135, 76, 0);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.gridTemplate {
    margin: 0px 10px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    border: 1px solid;
    border-color: rgb(161, 85, 22, 0.9);
    border-radius: 7px;
    background-color: rgb(222, 184, 135, 0.8);
    height: 60px;
}

.gridTemplate h4{
    margin: 5px 0px;
    margin-bottom: 7px;
}

.gridTemplate button{
    border: none;
    border-radius: 12px;
    background-color: rgb(151, 77, 40);
    color: whitesmoke;
    padding: 7px 10px;
}

.footer{
    text-align: center;
    background-color: white;
    padding: 1px;
}

