html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    min-height: 100vh;
    background: url("../assets/background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 20px 40px;
}


.container {
    width: 75%;
    margin: 120px auto;
    background: rgba(255, 255, 255, 0.85);
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #8B5A2B;
    text-align: center;
    margin-bottom: 25px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background: white;
}

.user-table th {
    background: #d2a679;
    padding: 12px;
    text-align: left;
    color: white;
    font-size: 17px;
}

.user-table td {
    padding: 12px;
    border: 0.5px solid #ccc;
}

.delete-btn {
    background: #c54444;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

.delete-btn:hover {
    background: #a83232;
}


.container {
    width: 75%;
    margin: 120px auto;
    background: rgba(255, 255, 255, 0.85);
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #8B5A2B;
    text-align: center;
    margin-bottom: 25px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background: white;
}

.user-table th {
    background: #d2a679;
    padding: 12px;
    text-align: left;
    color: white;
    font-size: 17px;
}

.user-table td {
    padding: 12px;
    border:  0.5px solid #ddd;
}

.delete-btn {
    background: #c54444;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.delete-btn:hover {
    background: #a83232;
}
