body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}


header{
    top: 0;
    background-color: rgb(255, 255, 255, 0.95); /* 0.8 itu buat transparansi, ilangin aja kalo gamau */
    
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: rgb(101, 79, 60);
}

.logo a{
    text-decoration: none;
    color: rgb(101, 79, 60);   
    font-weight: bold;
    font-size: 25px;
}

.navbarDate {                               
    padding: 0px 20px;
    color: rgb(101, 79, 60);    
    font-size: 20px;
}


.loginBtn a{
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: rgb(101, 79, 60);
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 20px;
}

.usernameNavbar {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    color: rgb(101, 79, 60);    
    font-size: 18px;
}

.logoutBtn {
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: rgb(216, 166, 122);
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 20px;
}