body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header{
    top: 0;
    background-color: rgb(255, 255, 255, 0.95);
    position: sticky;
    
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: rgb(101, 79, 60);
}

.logo a {
    text-decoration: none;
    color: rgb(101, 79, 60);   
    font-weight: bold;
    font-size: 25px;
}

.navbarDate {                               
    padding: 0px 20px;
    color: rgb(101, 79, 60);    
    font-size: 20px;
}


.login-btn a{
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: rgb(216, 166, 122);
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 20px;
}

.logout-btn {
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: rgb(216, 166, 122);
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 20px;
}

.navbarMenu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbarMenu a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    color: rgb(101, 79, 60);    
    font-size: 18px;
}

.admin-username {
    margin-right: 20px;
    font-weight: bold;
    color: rgb(101, 79, 60);    
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #b58968;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 99;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #f2e4d7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #a17655;
}
