body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    margin: 0;
}

.register-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    margin-top: 40px;
    margin-bottom: 40px;
}

.register-container h2 {
    margin-bottom: 20px;
}

.register-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-box label {
    margin-bottom: 15px;
    font-weight: bold;
}

.input-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-btn button{
    width: 100%;
    padding: 10px;
    background-color: rgb(216, 166, 122);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-btn button:hover {
    background-color: rgb(216, 166, 122);
}

.error {
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: rgb(216, 166, 122);
    text-decoration: none;
}
