body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    top: 0;
    position: sticky;
    background-color: rgb(255, 255, 255, 0.95); /* 0.8 itu buat transparansi, ilangin aja kalo gamau */
    
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: rgb(176, 103, 40);
}

.logo,
.dateHeader {                               /*logo sama tanggaal yg ditengah*/
    padding: 0px 20px;
    color: rgb(176, 103, 40);    
}


nav a {                                     /*nav*/
    text-decoration: none;
    color: whitesmoke;
    border: none;
    border-radius: 12px;
    background-color: rgb(151, 77, 40);
    padding: 10px 15px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);

    padding: 20px 0;

    background-image: url(background.jpeg);
    background-size: cover;       /* Membuat gambar menutupi area */
    background-position: center;  /* Menjaga fokus di tengah */
    background-repeat: no-repeat; /* Mencegah pengulangan */
}



.heroContainer {

    padding: 0px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.9);
    width: 700px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.gridTemplate {
    margin: 0px 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    border: 1px solid;
    border-color: rgb(161, 85, 22, 0.9);
    border-radius: 7px;
    background-color: rgb(222, 184, 135, 0.8);
    height: 60px;
}

.gridTemplate h4{
    margin: 5px 0px;
    margin-bottom: 7px;
}

.gridTemplate a{
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(135, 76, 0);
    padding: 5px 7px;
}

.buttonDetails {
    margin-top: 5px;
}

.footerContent{
    text-align: center;

}

